* {
    box-sizing: border-box;
}
body,html{
  background-color: #fff;
  height:100%;
  margin:0;
  padding:0;
}
.noscroll
{
overflow: hidden;
}
.row{
background: #f5f5f5;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}


.aside {
  background-color: aliceblue;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    border: 1px solid darkgray;
    padding-top: 105px;
}


.top-bar-first{
    background-color: rgb(11,2,36);
    position: fixed;
    width: 100%;
    min-height: 75px;
    height: auto;
    z-index: 999;
    top:0;
    border-bottom: 3px solid lightsteelblue;
    background-image: linear-gradient(182deg, #02568C , #fff);
}
.site-branding{
    display: inline-block;
    margin-top: 10px;
}
.site-branding__logo{
  position: fixed;
  margin-left: -2px;
  margin-top: -18px;
}
.site-branding__name{
  margin-top: 11px;
    margin-left: 80px;
    font-family: serif;
}
.site-branding__name a{
  text-decoration: none;
  color: red;
  font-family: serif;
  font-weight: bold;
}
.site-branding__slogan{
  margin-left: 59px;
color: navy;
font: menu;
}
.main-menu-button {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding-top: 10px;
    padding-right: 10px;

}

.bar1, .bar2, .bar3 {
    width: 42px;
    height: 5px;
    background-color: white;
    margin: 10px 0;
    transition: 0.4s;
}
.hide-items {
width: 0;
padding: 0;
height:0;
visibility: hidden;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-10.5px, 11px) ;
    transform: rotate(-45deg) translate(-10.5px, 11px) ;
    background-color: red;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-10px, -10.5px) ;
    transform: rotate(45deg) translate(-10px, -10.5px) ;
    background-color: red;
}
.slider-close{
  max-height: 0;
  visibility: hidden;
}
.slider-open{
  position: fixed;
max-height: 100%;
visibility: visible;
height: 100vh;
width: 100%;
background-color: #1e1d23;
background-repeat: round;
padding-right: 49px;
transition-property: all;
transition-duration: .5s;
transition-timing-function: cubic-bezier(0, 1, 0.9, 1);
overflow: auto;
text-align:center;
z-index: 1;
padding-bottom: 64px;
padding-top: 60px;
background-image: linear-gradient(180deg, #012237 , #fff);
}

.menu-item{
  width: 192px;
    height: auto;
    border-radius: 25px;
    display: -webkit-inline-box;
    margin: 34px 53px 15px -15px;
    text-align: -webkit-center;
    opacity: 0.9;

}
.menu-title{
    width: 109%;
    height: 35px;
    margin-left: 20px;
    display: block;
    background-color: #b5b6bd;
    margin-top: 1px;
    border-top-right-radius: 43px;
    border-top-left-radius: 43px;
    padding-top: 7px;
}
.menu-title a{
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  color: black;
}

.submenu-item-container{
  margin-top: 36px;
  background-color: peru;
  width: 100%;
  display: table;
  list-style: none;
  margin-left: -404px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 8px 6px 9px;
}

@-moz-document url-prefix() {
    .submenu-item-container{
        margin-left: -200px;

    }
}

.submenu-item{
  margin-left: -41px;
padding: 10px;
border-top: solid 3px;

}
.submenu-item a{
    text-decoration: none;
    color: maroon;
    font-family: sans-serif;
    font-weight: bold;
    display: block;
}
.submenu-item a:hover{

    color: white;

}
.submenu-item:hover{
background: black;
opacity: 0.2;
}
.post-content{
      border: 1px solid darkgrey;
      margin-top: 57px;
      margin-left: 0px;
      color: #333333;
      background-color: #ffffff;
      min-height: 100vh;
      font-family: sans-serif;
      font-size: 17px;
      line-height: 29px;
      text-align: justify;
      text-justify: inter-word;
      padding: 16px;
      padding-top: 1px;
}
.post-content h2:first-child{
  text-align: center;
  color:#2284c0 !important;
}
.post-content a:first-child{
text-decoration: blink;
color:#2284c0 !important;
}
.post-content img{
  width: 100%;
}
.statistics-counter{
  visibility: hidden;
}
.breadcrumb {
  position: relative;
    margin-top: 60px;
    background-color: #eee;
    margin-bottom: -15px;
    list-style: none;

}
.breadcrumb li {
    display: inline-block;
}
.breadcrumb a {
    color: #b5b6bd;
    display: inline-block;
    margin-right: 5px;
    padding-right: 14px;
    position: relative;
    text-decoration: none;
}
.breadcrumb a:hover {
    color: #086fcf;
}
.breadcrumb a:after {
    color: #b5b6bd;
    content: ">";
    position: absolute;
    right: 0;
}
.left-bar{
  position: relative;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 57px;
    background-color: honeydew;
    border: 1px solid darkgray;
}
.left-bar h2{
  padding-left: 24px;
}
.left-bar li{
  margin: 8px;
  margin-left: -15px;
}
.left-bar a{
  text-decoration: none;
}
.right-bar{
  margin-top: 57px;
  padding-top: 1px;
  text-align: center;
}
.footer-first{
  background-color: #E64C45;
}
.footer-second{
  background-color: rgb(-19,-5,8);
}

.backbox {
  font-family: "Josefin Slab";
  text-transform: uppercase;
  font-size: 1rem;
  color: white;
  width: 100%;
  position: relative;
  text-align: center;
  padding: 0.0625rem;
  position: relative;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjMiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(40%, rgba(255, 255, 255, 0.3)), color-stop(60%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.3) 60%, rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.3) 60%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.3) 60%, rgba(255, 255, 255, 0));
}
.backbox:before {
  width: 100%;
  height: 0.125rem;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjgiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(40%, rgba(255, 255, 255, 0.8)), color-stop(60%, rgba(255, 255, 255, 0.8)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0));
}
.backbox:after {
  width: 100%;
  height: 0.125rem;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjgiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(40%, rgba(255, 255, 255, 0.8)), color-stop(60%, rgba(255, 255, 255, 0.8)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0));
}
